[MangaDex Credentials]
MANGADEX_USERNAME=
MANGADEX_PASSWORD=
MANGADEX_USERID=

[User Set]
MANGADEX_RATELIMIT_TIME=2
UPLOAD_RETRY=3
BOT_RUN_TIME_DAILY=15:10
BOT_RUN_TIME_CHECKS=00:00

[Paths]
MANGADEX_API_URL=https://api.mangadex.org
COMPONENTS_PATH=components
DATABASE_PATH=chapters.db
MANGA_ID_MAP_PATH=manga.json
TITLE_REGEX_PATH=title_regex.json
MDAUTH_PATH=.mdauth
WEBHOOK_URL=
