[Credentials]
MANGADEX_USERNAME=
MANGADEX_PASSWORD=
MONGODB_URI=
MONGODB_DB_NAME=

[Options]
MANGADEX_RATELIMIT_TIME=2
MAX_REQUESTS=5
UPLOAD_RETRY=3
BOT_RUN_TIME_DAILY=15:00
BOT_RUN_TIME_CHECKS=01:00
MAX_LOG_DAYS=30

[Paths]
MANGADEX_API_URL=https://api.mangadex.org
COMPONENTS_PATH=components
MDAUTH_PATH=.mdauth
WEBHOOK_URL=
MANGA_DATA_PATH=manga_data.json

[Repo]
BASE_REPO_PATH=https://github.com/ArdaxHz/publoader
EXTENSIONS_REPO_PATH=https://github.com/ArdaxHz/publoader-extensions

